.center {
  text-align: center;
}

canvas {
  /* background-color: white; */
}

body {
  margin          : 0;
  background-color: #292929;
  font-family     : 'Segoe UI', sans-serif;
}

.menu-bar-background {
  position        : fixed;
  bottom          : 0;
  left            : 0;
  width           : 100%;
  background-color: rgb(4, 126, 116);
  height          : 150px;
}

.menu-bar {
  z-index              : 999;
  position             : fixed;
  bottom               : 0;
  left                 : 0;
  width                : 90%;
  margin-right         : 10%;
  color                : white;
  height               : 150px;
  line-height          : 50px;
  font-size            : 20px;
  font-weight          : 600;
  display              : inline-grid;
  text-align           : center;
  grid-template-columns: auto auto auto auto;
  grid-template-areas  : "menu-element menu-element menu-element menu-element"
    "menu-element menu-element menu-element menu-element"
    "menu-element menu-element menu-element menu-element";
}

.menu-element {
  width     : 100%;
  text-align: right;
}

.stats-bar {
  z-index              : 999;
  position             : fixed;
  top                  : 0;
  right                : 0;
  width                : 400px;
  height               : 100%;
  color                : white;
  font-size            : 20px;
  font-weight          : 600;
  padding-top          : 10px;
  display              : grid;
  grid-template-columns: auto;
  grid-template-rows   : 240px 240px 240px;
  grid-template-areas  : "stat-element";
  overflow             : visible;
}

.stats-element {
  width                : 95%;
  height               : 260px;
  margin-left          : 2.5%;
  display              : grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows   : 20px 60px 200px;
  grid-template-areas  : "stats-header stats-header stats-header stats-header stats-header"
    "normal infected recovered dead count"
    "plot plot plot plot plot";
}

.stats-header {
  grid-area: stats-header;

}

.stats-plot {
  grid-area : plot;
  margin-top: 10px;
  height    : 120px;
  width     : 100%;
}

.single-stat-element {
  position        : relative;
  margin-top      : 10px;
  background-color: #3b3b3b;
  border-radius   : 15px;
  display         : border-box;
}

#conainer {
  position: absolute;
  top     : 0;
  left    : 0;
  width   : 1520px;
}

.single-stat-element-header {
  position : absolute;
  top      : 3px;
  left     : 10px;
  font-size: 11.5px;
  opacity  : 0.9;
}

.single-stat-element-value {
  position  : absolute;
  font-size : 20px;
  top       : 20px;
  width     : 100%;
  text-align: center;
}


.button {
  background-color: #3b3b3b;
  border          : none;
  color           : white;
  padding         : 10px 10px;
  width           : 300px;
  text-align      : center;
  text-decoration : none;
  display         : inline-block;
  font-size       : 20px;
  font-weight     : 600;
  cursor          : pointer;
  opacity         : 0.85;
}

.button:hover {
  background-color: #292929;
  opacity         : 1;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  height            : 15px;
  border-radius     : 5px;
  background        : #d3d3d3;
  outline           : none;
  opacity           : 0.85;
  -webkit-transition: .2s;
  transition        : opacity .2s;
  margin-left       : 15px;
  text-align        : right;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance        : none;
  width             : 25px;
  height            : 25px;
  border-radius     : 50%;
  background        : #3b3b3b;
  cursor            : pointer;
}

.slider::-moz-range-thumb {
  width        : 25px;
  height       : 25px;
  border-radius: 50%;
  background   : #3b3b3b;
  cursor       : pointer;
}

.slider::-ms-fill-lower {
  height    : 0.5em;
  background: #3b3b3b;
}

.slider::-moz-range-progress {
  height    : 0.5em;
  background: #3b3b3b;
}